---
Checks:          '*google-*,cppcoreguidelines-*,readability-*,performance-*,modernize-*,-modernize-use-trailing-return-type,bugprone-'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     'google'
