BasedOnStyle: Google
IndentWidth: 4
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
SortUsingDeclarations: true
SpaceBeforeCpp11BracedList: true
IncludeCategories:
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:        1
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+(.h|.hpp)>'
    Priority:        2
  # Headers in "" with extension.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:        3